body{
    margin: 0 auto;
}
nav{
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 15px;
}

nav .volver{
    justify-content: left;
}

nav .centrar{
    text-align: center;
}
section{
    margin-top: 10%;
    text-align: center;
   
}

.robotoTitle {
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;
}

.roboLetra{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}
/* he cambiado esto, antes ponia form */
.cuerpoIndex{
    
    background-image: url('images/italianoSalon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    /* Filtro oscuro */
    background-blend-mode: darken;
    height: 100vh;
        
}

.mesasContainer {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mesaLibre,.mesaOcupada {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.mesaOcupada {
    background-color: rgb(228, 12, 12);
}

.mesaLibre {
    background-color: rgb(15, 15, 15);
}

.enlaceMesaId {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2em;

}
/* Listado */
table{
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

tbody{
    background-color: rgb(228, 228, 228);
    padding: 20px;
    height: 100px;
}

tbody th{
    text-align: center;
    padding: 10px;
}

table img{
    width: 20%;
    height: 20%;
}

/* Añadir camarero form */
form #foto{
    margin: 0 auto;
}


.card{
    width: 180px;
}