body{
    margin: 0 auto;
}
nav{
    background-color: rgb(26, 0, 23);
    color: white;
    padding: 15px;
}

nav .volver{
    justify-content: left;
}

nav .centrar{
    text-align: center;
}
section{
    margin-top: 10%;
    text-align: center;
   
}
/* he cambiado esto, antes ponia form */
.inicio{
    font-size: 1.2em;
    margin: 0 auto;
    background-color: rgb(121, 8, 109);
    width: 80%;
    padding: 8%;
}
form input {
    margin-bottom: 10px;
    width: 80%;
    border: 3px solid white;
    border-radius: 3px;

}
form .enviar{
    width: 40%;
    padding: 8px;
}

.enlacesContainer{
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid blueviolet;
    border-radius: 2px;
}

.mesasContainer {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mesaLibre,.mesaOcupada {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.mesaOcupada {
    background-color: rgb(228, 12, 12);
}

.mesaLibre {
    background-color: rgb(39, 1, 35);
}

.enlaceMesaId {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2em;

}
/* Listado */
table{
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

tbody{
    background-color: rgb(228, 228, 228);
    padding: 20px;
    height: 100px;
}

tbody th{
    text-align: center;
    padding: 10px;
}

table img{
    width: 20%;
    height: 20%;
}

/* Añadir camarero form */
form #foto{
    margin: 0 auto;
}

/* CrearPedido */

/* .categoriasDiv {
    border: 1px solid black;
    width: 80%;
    justify-self: center;
    margin-top: 20px;
}

.cant {
    width: 30%;
    justify-self: center;
}

.containerCateg {
    height: 50px;
}

.categoria {
    margin-bottom: 10px;
    width: 30%;
    height: 80%;
    font-size: 1.2em;
    justify-self: center;
}

.botonPedido {
    margin-bottom: 20px;
} */

.listadoProd{
    background-color: grey;
    padding: 20px;
}

.productosCaja {
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(228, 228, 228);
    padding: 5px;
    display: flex;
    margin: 20px;
}

.productosItem {
    width: 20%;
    align-self: center;
    margin-right: 10px;
}

.pizzasCaja {
    background-color: rgb(228, 94, 94);
}

.subtit {
    padding-left: 0;
}

aside {
    background-color: #C2D6D6;
    color: rgb(27, 100, 209);
    padding: 50px 0;
}

section {
    margin-bottom: 10px;
}